body{
    font-family: 'Poppins', sans-serif;
} 
.def-bg{
    background: #505cfd;
}
.nav-link{
    font-size: 14px;
    padding-right: 2.5rem !important;
    padding-left: 0.5rem !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0);
}
.fs-6{
    font-size: 14px !important;
}
.border-blue{
    border-color: #505cfd !important;
}
.border-blue2{
    border-color: #6a74fc !important;
}
.slider-single-wrap{
    width: 100%;
    height: 100vh;
    background:url(../images/slider-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.social ul{
    list-style: none; 
}
.social ul li a{
    font-size: 20px;
}
.slider-heading h2{
    font-size: 72px;
    color:#595959;
    font-weight: 700;
}
.slider-heading p{
   font-size: 15px;
   color:#343434; 
}
.slider-heading a{
   font-size: 15px;
   color:#595959; 
   padding:10px 30px;
   font-weight: 700;
} 
.features-area .container{
    border-radius: 15px; 
    position: absolute;
    top:-120px;
    left: 0;
    right: 0;
    
}
.elemant-features i{
    font-size:30px;
}
.elemant-features .contant h2{
    font-size:22px;
    margin-bottom:30px;
}
.elemant-features .contant p{
    font-size:15px;
    margin: 0;
}
.wordpress-contant h2{
    font-size: 32px;
    line-height: 45px;
    color: #404044;
    font-weight: 600;
}
.wordpress-contant p{
    font-size: 15px; 
    color: #595959;
    line-height: 28px;
}
.wordpress-contant a{
    font-size: 14px; 
    color: #595959;
    font-weight: 600;
    padding:10px 30px
}
.wordpress-contant hr{
   opacity: 1;
   width: 50px;
   height: 2px;
}
.benner{
    width: 100%;
    background: url(../images/benner-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.benner-contant h2{
    font-size: 32px;
    color:#404044;
    margin-bottom:15px;
}
.benner-contant p{
    font-size: 15px;
    color:#595959;
    margin-bottom:40px;
}
.benner-contant form input{
    padding:10px 15px;
    border:none;
    margin-left:10px;
    border-radius: 30px;
}
.benner-contant form input[type=submit]{
    padding:10px 30px;
    border:none;
    border-radius: 30px;
    background:#505cfd;
    color: #fff;
    font-size:14px;
    margin-left:20px;
}
.benner-contant form input::placeholder{
   font-size: 14px;
   color:#808080;
}